/* .carousel-inner img {
  width: 50%;
  height: 50%;
}
.homepageBox {
  position: absolute;
  background-color: grey;
  left:700px;
  padding: 100px;
}
.userprofileBox {
  position: absolute;
  background-color: rgb(85, 82, 82);
  top:50px;
  bottom:30px;
  /*left:20px; */
  /* padding: 70px;
  margin: 20px;
} */

#video-container
{
  background-color: rgb(66, 66, 66);
  color:aliceblue;
}

#movie-search
{
  background-color: black;
  text-align: center;
<<<<<<< HEAD
  padding-top: 20px;
  padding-bottom: 20px;
=======
  padding-top: 10px;
  padding-bottom: 10px;
>>>>>>> ffc1446b4c9c2d445f78ed6c6d34849a13e8e0eb
}

#movie-search-input
{
  background-color: rgb(247, 190, 117);
  border: solid 2px aliceblue;
  margin-right: 5px;
}

#movie-search-button
{
  background-color: rgb(247, 190, 117);
  border-radius: 10px;
  border: solid 2px aliceblue;
}

#number-of-search-pages
{
  background-color: black;
  color: aliceblue;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.movie-item
{
  border:solid 2px black;
<<<<<<< HEAD
}
=======
}

>>>>>>> ffc1446b4c9c2d445f78ed6c6d34849a13e8e0eb
