/* .carousel-inner img {
  width: 50%;
  height: 50%;
}


.homepageBox {
  position: absolute;
  background-color: grey;
  left:700px;
  padding: 100px;
}

.userprofileBox {
  position: absolute;
  background-color: rgb(85, 82, 82);
  top:50px;
  bottom:30px;
  /*left:20px; */
  /* padding: 70px;
  margin: 20px;
} */