
<mat-toolbar id = "navbar-expand-sm" class = "sticky mat-elevation-z8">
    <br>
    <br>
    <!-- class="mat-elevation-z8" - to make shadow behind navbar -->

    <!-- <a mat-button class= "logo" routerLinkActive = "active" routerLink = "welcome">Not Netflix</a> -->

    <div class = "spacer"></div>

    <!-- <a mat-button class= "nav-link2" routerLinkActive = "active" routerLink = 'signin'>SignIn</a>  -->

    <li class="nav-item" *ngFor="let link of links">
        <a mat-button class="nav-link2" routerLinkActive = "active" [routerLink]="link.path">{{ link.text }}</a>
    </li>
<!-- 
    <li class="nav-item" *ngIf="isLoggedIn">
        <a mat-button class= "nav-link2" routerLinkActive = "active" routerLink = "welcome" (click)="logout()">Logout</a>
    </li> -->

</mat-toolbar>








<!-- <app-navbar></app-navbar> -->
<router-outlet></router-outlet>



