<br>
<br>

<form class = "updateprofileform">
    <h1>Profile</h1>
    <input class = "col-sm-1" type = "text" placeholder = "username" name = "username" [(ngModel)] = "username" required ngModel/>
    <br>
    <input class = "col-sm-1" type = "password" placeholder = "password" name = "password" [(ngModel)] = "password" required ngModel/>
    <br>
    <button id = "viewInfoButton" class = "btn btn-info" (click) = "signIn()">View Info</button>
    <br>
    <div id = "profileTableHead"></div>

</form>

