
<mat-toolbar id = "navbar-expand-sm" class = "sticky mat-elevation-z100">

    <!-- class="mat-elevation-z8" - to make shadow behind navbar -->

    <a mat-button class= "logo" routerLinkActive = "active" routerLink = "welcome">Not Netflix</a>

    <div class = "spacer"></div>
<!-- put these 1st 2 on side of Not Netflix -->
    <a mat-button class= "nav-link1" routerLinkActive = "active" routerLink = "signin">Sign In</a> 

    <a mat-button class= "nav-link2" routerLinkActive = "active" routerLink = "signup">Sign Up</a>

    <!-- make these last two an icon on other side of navbar -->
    <a mat-button class= "nav-link2" routerLinkActive = "active" routerLink = "">About Us</a>

    <a mat-button class= "nav-link2" routerLinkActive = "active" routerLink = "">Contact</a>
    <a mat-button class= "nav-link2" routerLinkActive = "active" routerLink = "userhome">home</a>

</mat-toolbar>
