
<!-- <mat-toolbar id = "navbar-expand-sm" class = "sticky mat-elevation-z100"> -->

    <!-- class="mat-elevation-z8" - to make shadow behind navbar -->

    <!-- <a mat-button class= "logo" routerLinkActive = "active" routerLink = "welcome">Not Netflix</a>

    <div class = "spacer"></div> -->

    <!-- <a mat-button class= "nav-link2" routerLinkActive = "active" routerLink = 'signin'>SignIn</a>  -->

    <!-- <a mat-button class="nav-link2" *ngFor="let link of links" [routerLink]="link.path">{{ link.text }}</a> -->
<!-- 
    <a mat-button class= "nav-link2" routerLinkActive = "active" routerLink = "signup">Sign Up</a>


</mat-toolbar> -->
