<div class = "movieBackground">
    <div class = "shade"></div>

    <div>
        <button class = "signinbutton"><a routerLinkActive = "active" routerLink = "signin">Sign In</a></button>
        <button class = "signupbutton"><a routerLinkActive = "active" routerLink = "signup">Sign Up</a></button>
    </div>
    <br>

    <div>
    <h1>Not Netflix</h1>
    
    <h2>Somewhat unlimited movies and a few TV shows.</h2>
    <p>Watch anywhere (with good wifi). Cancel ... if we let you.</p>
    </div>

    <br>
    <div col = "col-sm-12">
    
    <!-- (click) = "openDialog" -->
    </div>
</div>

<div>
    FAQs
</div>












<!-- <h2>Somewhat unlimited movie trailers and entertaining videos.</h2> -->