<div class = "movieBackground">
  
    <form class = "signupform">
    <h3>Sign Up</h3>
    <br>
    <input type = "text" placeholder = "First Name" name = "first_name" required ngModel/>
    <br>
    <br>
    <input type = "text" placeholder = "Last Name" name = "last_name" required ngModel/>
    <br>
    <br>
    <input type = "text" placeholder = "email (abcd@bemail.com)" name = "email" required ngModel/>
    <br>
    <br>
    <input type = "text" placeholder = "username" name = "username" required ngModel/>
    <br>
    <br>
    <input type = "password" placeholder = "password" name = "password" required ngModel/>
    <br>
    <br>    
    <button class = "btn btn-primary">Sign Up</button>
    </form>

</div>

